</head>
<body>
<div class="login-form">
    <form action="/login" method="post">
      <div class="form-control">
        <label for="key">Name</label>
        <input
          type="text"
          name="key"
          id="key"
          placeholder="Enter your First Name"
          required
        />
      </div>
      <div class="form-control">
        <label for="apiKey"><strong>SDK</strong> API Key</label>
        <input
          type="text"
          name="apiKey"
          id="apiKey"
          placeholder="Enter your SDK API Key."
          required
        />
      </div>
      <div class="form-control">
        <label for="splitName">Split Name</label>
        <input
          type="text"
          name="splitName"
          id="splitName"
          placeholder="Enter the name of the Split you are using"
          required
        />
      </div>
      <div class="form-control">
        <label for="eventName">Event Name</label>
        <input
          type="text"
          name="eventName"
          id="eventName"
          placeholder="Enter the name of the event (if you are using)"
        />
      </div>
      <div class="form-control">
        <button type="submit" class="btn">Login</button>
      </div>
    </form>
  </div>