<%- include('header.ejs'); %>
<!-- <meta http-equiv="refresh" content="2"> --> <!-- Now using Server Side Events!-->
 <script src="/js/script.js"></script>
</head>
<body>
<!-- <a href="/" class="link">Go Back</a> -->
<p>Welcome, you are logged in to the Split Software Boxes Demo.</p> 
<br />
<table id='myTable'>  
</table>

<%- include('footer.ejs') %>