<%- include('header.ejs') %>
</head>
<body>
<a href="/" class="link">Go Back</a>
<p>Login failed. This is likely beause you attempted to navigate to the login page without logging in, alternatively it could be that the server crashed</p>
<p>Try logging in or go back</p>
<%- include('footer.ejs') %>